@keyframes fontalicious {

  0% {
    font-family: helvetica;
  }

  10% {
    font-family: times;
  }

  20% {
    font-family: fantasy;
  }

  30% {
    font-family: monospace;
  }

  40% {
    font-family: Palatino;
  }

  50% {
    font-family: Tahoma
  }

  60% {
    font-family: impact;
  }

  70% {
    font-family: cursive;
  }

  80% {
    font-family: monospace;
  }

  90% {
    font-family: fantasy;
  }

  99% {
    font-family: futura;
  }

  100% {
  }


}

.fontalicious {
  animation-name: fontalicious;
  animation-iteration-count: 4;
  animation-duration: 1s;
}