/**
 * Animations
 */

.animated {
  animation-fill-mode: both;
}

/**
 * Intensifies
 * - Slowly increases in shaking and madness
 */

@keyframes intensifies {

  @for $i from 0 through 100 {
    
    #{$i * 1%} {

      // Rotate between left and right
      $sign: -1;
      @if $i % 2 == 0 { 
        $sign: 1;
      }

      // Rotation capped at 8
      $rotation: 8;
      @if $i < 10 { 
        $rotation: $i;
      }



      // Final frame is set back to 0
      @if $i != 100 { 
        transform:  translate($sign * random($i + 1) * 1px, $sign * random($i + 1) * 1px) scale(1 + $i / 50);
      } @else {

        transform: translate(0, 0) rotate(0deg);
      }
      
    } 
  }

}

.intensifies {
  animation-timing-function: ease-out;
  transform-origin: bottom center;
  animation-name: intensifies;
  animation-duration: 5s;
}