/**
 * Animations
 */

.animated {
  animation-fill-mode: both;
}

/**
 * Intensifies
 * - Slowly increases in shaking and madness
 */

@keyframes intensifies {

  @for $i from 0 through 100 {
    #{$i * 1%} {

      $sign: -1;

      @if $i % 2 == 0 { 
        $sign: 1;
      }

      $rotation: 8;
      @if $i < 10 { 
        $rotation: $i;
      }

      @if $i != 100 { 
        transform: translate($sign * $i * 2px, 0) rotate($sign * $rotation + deg);
      } @else {
        transform: translate(0, 0) rotate(0deg);
      }
      
    } 
  }

}

.intensifies {
  animation-name: intensifies;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  transform-origin: bottom middle;
}