@keyframes roundtheworld {

  0% {
    top: 0%;
    left: 50%;
    transform: rotateZ(90deg) translateX(-50%);
    transform-origin: 50% 50%;
  }

  13% {
    top: 0%;
    left: 100%;
    transform: rotateZ(300deg) translateX(-50%);
    transform-origin: 50% 50%;
  }

  37% {
    top: 100%;
    left: 100%;
    transform: rotateZ(600deg) translateX(-50%);
    transform-origin: 50% 50%;
  }

  62% {
    top: 100%;
    left: 0%;
    transform: rotateZ(900deg) translateX(-50%);
    transform-origin: 50% 50%;
  }

  87% {
    top: 0%;
    left: 0%;
    transform: rotateZ(1200deg) translateX(-50%);
    transform-origin: 50% 50%;
  }

  99% {
    top: 0%;
    left: 50%;
    transform: rotateZ(1500deg) translateX(-50%);
    transform-origin: 50% 50%;
  }

  100% {
  }

}

.roundtheworld {
  position: fixed;
  transform-origin: 50% 50%;
  animation-timing-function: linear;
  animation-name: roundtheworld;
  animation-duration: 10s;
}